/**
 * SEAT styling
 */
.aui .seat a, .aui a:hover {
	color: #D52A3A;
}

.aui .seat .btn {
	background: #D52A3A;
	color: #fff;
}

.aui .seat .btn:hover, .aui .btn:focus {
	background: #B62432;
	color: #fff;
}
 
.seat header {
	background: #fff;
}

.aui .seat #navigation .navbar-inner .nav .logo {
	line-height: 60px;
	height: 60px;
}

.aui .seat #navigation .navbar-inner .nav .logo img {
	height: 100%;
}

/*.aui #navigation .navbar-inner .brand {
	line-height: 60px;
	margin-right: 20px;
	padding: 0;
}

.aui #navigation .navbar-inner .brand img {
	height: 57px;
}*/

.aui .seat #navigation .navbar-inner li {
	margin-right: 5px;
}

.aui .seat #navigation .navbar-inner li > a {
	color: #333;
}

.aui .seat #navigation .navbar-inner li > a > span {
	font-size: 12px;
}

.aui .seat #navigation .nav li.active > a,
.aui .seat #navigation .nav li.open > a {
	color: #D52A3A;	
}

.aui .seat .navbar .nav > .active > a,
.aui .seat .navbar .nav > .active > a:hover,
.aui .seat .navbar .nav > .active > a:focus {
	color: #D52A3A;
}

.aui .seat .navbar .nav > li > a:focus,
.aui .seat .navbar .nav > li > a:hover {
	color: #D52A3A;
}

.aui .seat #navigation .navbar-search .search-wrapper .input-append {
	border: 0;
	border-radius: 2px;
	overflow: hidden;
}

.aui .seat #navigation .navbar-search .search-wrapper .btn {
	color: #D52A3A;
	background: #E8E8E8;
}

.aui .seat #navigation .navbar-search .search-wrapper input {
	color: #999;
	background: #E8E8E8;
}

.aui .seat #navigation .navbar-search input::-webkit-input-placeholder,
.aui .seat #navigation .navbar-search input:-moz-input-placeholder,
.aui .seat #navigation .navbar-search input::-moz-input-placeholder,
.aui .seat #navigation .navbar-search input:-ms-input-placeholder {
	color: #ccc;
}


.aui .seat .navbar .nav > .active > a,
.aui .seat .navbar .nav > .active > a:hover,
.aui .seat .navbar .nav > .active > a:focus,
.aui .seat .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .seat .navbar .nav li.dropdown.active > .dropdown-toggle,
.aui .seat .navbar .nav li.dropdown.open.active > .dropdown-toggle,
.aui .seat .navbar .nav > li > a:focus, .aui .navbar .nav > li > a:hover,
.aui .seat .navbar .nav > li.open > a, .aui .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .seat .navbar .nav li.dropdown.active > .dropdown-toggle {
	color: #D52A3A;
}

.aui .seat .dropdown-menu > li > a:hover,
.aui .seat .dropdown-menu > li > a:focus,
.aui .seat .dropdown-submenu:hover > a,
.aui .seat .dropdown-submenu:focus > a {
	background-color: #D52A3A;
}


.seat .cart-portlet .icon-shopping-cart {
	color: #D52A3A;
	margin-right: 5px;
}