/**
 * SEAT styling
 */
$redColor: #D52A3A;

@font-face {
	font-family: 'Seat Meta';
	src: url(../SkodaPro-Normal.woff);
}

@font-face {
	font-family: 'Seat Meta';
	font-weight: bold;
	src: url(../SkodaPro-Medium.woff);
}

.aui body.seat {
	font-family: "Seat Meta", sans-serif;
}
 
.aui .seat a, .aui .seat a:hover {
	color: $redColor;
}

.aui .seat .btn {
	background: $redColor;
	color: #fff;
}

.aui .seat .btn:hover, .aui .btn:focus {
	background: #B62432;
	color: #fff;
}

.aui .seat input[type="text"], .aui .seat textarea {
	background: #E8E8E8;
	border-radius: 2px;
	border: 0;
}

.aui .seat input[type="text"]:disabled, .aui .seat select:disabled {
	background: #fafafa;
	color: #aaa;
	border: 0;
}

.aui .seat .input-append input[type="text"] {
	padding: 4px 6px;
}
 
.seat header {
	background: #fff;
}

.aui .seat #navigation .navbar-inner .nav .logo {
	line-height: 60px;
	height: 60px;
}

.aui .seat #navigation .navbar-inner .nav .logo img {
	height: 100%;
}

/*.aui #navigation .navbar-inner .brand {
	line-height: 60px;
	margin-right: 20px;
	padding: 0;
}

.aui #navigation .navbar-inner .brand img {
	height: 57px;
}*/

.aui .seat #navigation .navbar-inner li {
	margin-right: 5px;
}

.aui .seat #navigation .navbar-inner li > a {
	color: #333;
}

.aui .seat #navigation .navbar-inner li > a > span {
	font-size: 12px;
}

.aui .seat #navigation .nav li.active > a,
.aui .seat #navigation .nav li.open > a {
	color: $redColor;	
}

.aui .seat .navbar .nav > .active > a,
.aui .seat .navbar .nav > .active > a:hover,
.aui .seat .navbar .nav > .active > a:focus {
	color: $redColor;
}

.aui .seat .navbar .nav > li > a:focus,
.aui .seat .navbar .nav > li > a:hover {
	color: $redColor;
}

.aui .seat #navigation .dropdown-menu li > a,
.aui .seat #navigation .dropdown-menu li.active > a,
.aui .seat #navigation .dropdown-menu li.open > a {
	color: #fff;
}

.aui .seat #navigation .navbar-search .search-wrapper .input-append {
	border: 0;
	border-radius: 2px;
	overflow: hidden;
}

.aui .seat #navigation .navbar-search .search-wrapper .btn {
	color: $redColor;
	background: #E8E8E8;
}

.aui .seat #navigation .navbar-search .search-wrapper input {
	color: #999;
	background: #E8E8E8;
	padding: 4px 6px;
}

.aui .seat #navigation .navbar-search input::-webkit-input-placeholder,
.aui .seat #navigation .navbar-search input:-moz-input-placeholder,
.aui .seat #navigation .navbar-search input::-moz-input-placeholder,
.aui .seat #navigation .navbar-search input:-ms-input-placeholder {
	color: #ccc;
}


.aui .seat .navbar .nav > .active > a,
.aui .seat .navbar .nav > .active > a:hover,
.aui .seat .navbar .nav > .active > a:focus,
.aui .seat .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .seat .navbar .nav li.dropdown.active > .dropdown-toggle,
.aui .seat .navbar .nav li.dropdown.open.active > .dropdown-toggle,
.aui .seat .navbar .nav > li > a:focus, .aui .navbar .nav > li > a:hover,
.aui .seat .navbar .nav > li.open > a, .aui .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .seat .navbar .nav li.dropdown.active > .dropdown-toggle {
	color: $redColor;
}

.aui .seat .dropdown-menu > li > a:hover,
.aui .seat .dropdown-menu > li > a:focus,
.aui .seat .dropdown-submenu:hover > a,
.aui .seat .dropdown-submenu:focus > a {
	background-color: $redColor;
}

.aui .seat #navigation .navbar-inner a.taglib-language-list-text {
	color: $redColor;
}

.seat .cart-portlet .icon-shopping-cart {
	color: $redColor;
	margin-right: 5px;
}

.aui .seat .single-product .price {
	background: $redColor;
}

.aui .seat #navigation .navbar-inner .taglib-language-list-text {
	color: #000;
}