/**
 * SEAT styling
 */
/*$greenColor: $greenColor;*/
$greenColor: #4ba82e;
 
@font-face {
	font-family: 'Skoda Pro';
	src: url(../SkodaPro-Regular.ttf);
}

@font-face {
	font-family: 'Skoda Pro';
	font-weight: bold;
	src: url(../SkodaPro-Bold.ttf);
}

.aui body.skoda {
	font-family: "Skoda Pro", sans-serif;
}
 
.aui .skoda a, .aui .skoda a:hover {
	color: $greenColor;
}

.aui .skoda .btn {
	background: $greenColor;
	color: #fff;
	text-transform: none;
	border-radius: 0;
}

.aui .skoda .btn.btn-chevron:after {
	font-size: 6px;
	margin: 0;
	margin-left: 10px;
	color: #fff;
	opacity: 0.7;
	content: '\f054';
	font-family: 'fontawesome-alloy';
	text-decoration: inherit;
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
}

.aui .skoda .btn:hover, .aui .btn:focus {
	background: #439429;
	color: #fff;
}

.aui .skoda input[type="text"], .aui .skoda textarea {
	background: #E8E8E8;
	border-radius: 2px;
	border: 0;
}

.aui .skoda input[type="text"]:disabled, .aui .skoda select:disabled {
	background: #fafafa;
	color: #aaa;
	border: 0;
}

.aui .skoda .input-append input[type="text"] {
	padding: 4px 6px;
}
 
.skoda header {
	background: #fff;
}

.aui .skoda #navigation .navbar-inner .nav .logo {
	line-height: 60px;
	height: 60px;
}

.aui .skoda #navigation .navbar-inner .nav .logo img {
	height: 60%;
}

/*.aui #navigation .navbar-inner .brand {
	line-height: 60px;
	margin-right: 20px;
	padding: 0;
}

.aui #navigation .navbar-inner .brand img {
	height: 57px;
}*/

.aui .skoda #navigation .navbar-inner li {
	margin-right: 5px;
}

.aui .skoda #navigation .navbar-inner li > a {
	color: #333;
}

.aui .skoda #navigation .navbar-inner li > a > span {
	font-size: 12px;
}

.aui .skoda #navigation .nav li.active > a,
.aui .skoda #navigation .nav li.open > a {
	color: $greenColor;	
}

.aui .skoda .navbar .nav > .active > a,
.aui .skoda .navbar .nav > .active > a:hover,
.aui .skoda .navbar .nav > .active > a:focus {
	color: $greenColor;
}

.aui .skoda .navbar .nav > li > a:focus,
.aui .skoda .navbar .nav > li > a:hover {
	color: $greenColor;
}

.aui .skoda #navigation .dropdown-menu li > a,
.aui .skoda #navigation .dropdown-menu li.active > a,
.aui .skoda #navigation .dropdown-menu li.open > a {
	color: #fff;
}

.aui .skoda #navigation .navbar-search .search-wrapper .input-append {
	border: 0;
	border-radius: 2px;
	overflow: hidden;
}

.aui .skoda #navigation .navbar-search .search-wrapper .btn {
	color: $greenColor;
	background: #E8E8E8;
}

.aui .skoda #navigation .navbar-search .search-wrapper input {
	color: #999;
	background: #E8E8E8;
	padding: 4px 6px;
}

.aui .skoda #navigation .navbar-search input::-webkit-input-placeholder,
.aui .skoda #navigation .navbar-search input:-moz-input-placeholder,
.aui .skoda #navigation .navbar-search input::-moz-input-placeholder,
.aui .skoda #navigation .navbar-search input:-ms-input-placeholder {
	color: #ccc;
}


.aui .skoda .navbar .nav > .active > a,
.aui .skoda .navbar .nav > .active > a:hover,
.aui .skoda .navbar .nav > .active > a:focus,
.aui .skoda .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .skoda .navbar .nav li.dropdown.active > .dropdown-toggle,
.aui .skoda .navbar .nav li.dropdown.open.active > .dropdown-toggle,
.aui .skoda .navbar .nav > li > a:focus, .aui .navbar .nav > li > a:hover,
.aui .skoda .navbar .nav > li.open > a, .aui .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .skoda .navbar .nav li.dropdown.active > .dropdown-toggle {
	color: $greenColor;
}

.aui .skoda .dropdown-menu > li > a:hover,
.aui .skoda .dropdown-menu > li > a:focus,
.aui .skoda .dropdown-submenu:hover > a,
.aui .skoda .dropdown-submenu:focus > a {
	background-color: $greenColor;
}

.aui .skoda #navigation .navbar-inner a.taglib-language-list-text {
	color: $greenColor;
}

.skoda .cart-portlet .icon-shopping-cart {
	color: $greenColor;
	margin-right: 5px;
}

.aui .skoda .single-product .price {
	background: $greenColor;
}

.aui .skoda #navigation .navbar-inner .taglib-language-list-text {
	color: #000;
}