/**
 * Volvo Trucks styling
 */
$blueColor: #728DA3;
$grayBlue: #F1F3F6;
$extraLight: #F9FAFB;

.aui body.volvo-trucks {
	font-family: Arial,Helvetica,sans-serif;
}
 
.aui .volvo-trucks a, .aui .volvo-trucks a:hover {
	color: $blueColor;
}

.aui .volvo-trucks .btn {
	background: $blueColor;
	color: #fff;
	text-transform: none;
	border-radius: 4px;
}

.aui .volvo-trucks .btn.btn-chevron:after {
	font-size: 6px;
	margin: 0;
	margin-left: 10px;
	color: #fff;
	opacity: 0.7;
	content: '\f054';
	font-family: 'fontawesome-alloy';
	text-decoration: inherit;
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
}

.aui .volvo-trucks .btn:hover, .aui .btn:focus {
	background: #69879D;
	color: #fff;
}

.aui .volvo-trucks input[type="text"], .aui .volvo-trucks textarea {
	background: $grayBlue;
	border-radius: 2px;
	border: 0;
}

.aui .volvo-trucks input[type="text"]:disabled, .aui .volvo-trucks select:disabled {
	background: #fafafa;
	color: #aaa;
	border: 0;
}

.aui .volvo-trucks .input-append input[type="text"] {
	padding: 4px 6px;
}
 
.volvo-trucks header {
	background: #fff;
}

.aui .volvo-trucks #navigation .navbar-inner .nav .logo {
	line-height: 60px;
	height: 60px;
}

.aui .volvo-trucks #navigation .navbar-inner .nav .logo img {
	height: 70%;
}

/*.aui #navigation .navbar-inner .brand {
	line-height: 60px;
	margin-right: 20px;
	padding: 0;
}

.aui #navigation .navbar-inner .brand img {
	height: 57px;
}*/

.aui .volvo-trucks #navigation .navbar-inner li {
	margin-right: 5px;
}

.aui .volvo-trucks #navigation .navbar-inner li > a {
	color: #333;
}

.aui .volvo-trucks #navigation .navbar-inner li > a > span {
	font-size: 12px;
}

.aui .volvo-trucks #navigation .nav li.active > a,
.aui .volvo-trucks #navigation .nav li.open > a {
	color: $blueColor;	
}

.aui .volvo-trucks .navbar .nav > .active > a,
.aui .volvo-trucks .navbar .nav > .active > a:hover,
.aui .volvo-trucks .navbar .nav > .active > a:focus {
	color: $blueColor;
}

.aui .volvo-trucks .navbar .nav > li > a:focus,
.aui .volvo-trucks .navbar .nav > li > a:hover {
	color: $blueColor;
}

.aui .volvo-trucks #navigation .dropdown-menu li > a,
.aui .volvo-trucks #navigation .dropdown-menu li.active > a,
.aui .volvo-trucks #navigation .dropdown-menu li.open > a {
	color: #fff;
}

.aui .volvo-trucks #navigation .navbar-search .search-wrapper .input-append {
	border: 0;
	border-radius: 4px;
	overflow: hidden;
}

.aui .volvo-trucks #navigation .navbar-search .search-wrapper .btn {
	color: $blueColor;
	background: $grayBlue;
}

.aui .volvo-trucks #navigation .navbar-search .search-wrapper input {
	color: #999;
	background: $grayBlue;
	padding: 4px 6px;
}

.aui .volvo-trucks #navigation .navbar-search input::-webkit-input-placeholder,
.aui .volvo-trucks #navigation .navbar-search input:-moz-input-placeholder,
.aui .volvo-trucks #navigation .navbar-search input::-moz-input-placeholder,
.aui .volvo-trucks #navigation .navbar-search input:-ms-input-placeholder {
	color: #ccc;
}


.aui .volvo-trucks .navbar .nav > .active > a,
.aui .volvo-trucks .navbar .nav > .active > a:hover,
.aui .volvo-trucks .navbar .nav > .active > a:focus,
.aui .volvo-trucks .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .volvo-trucks .navbar .nav li.dropdown.active > .dropdown-toggle,
.aui .volvo-trucks .navbar .nav li.dropdown.open.active > .dropdown-toggle,
.aui .volvo-trucks .navbar .nav > li > a:focus, .aui .navbar .nav > li > a:hover,
.aui .volvo-trucks .navbar .nav > li.open > a, .aui .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .volvo-trucks .navbar .nav li.dropdown.active > .dropdown-toggle {
	color: $blueColor;
}

.aui .volvo-trucks .dropdown-menu > li > a:hover,
.aui .volvo-trucks .dropdown-menu > li > a:focus,
.aui .volvo-trucks .dropdown-submenu:hover > a,
.aui .volvo-trucks .dropdown-submenu:focus > a {
	background-color: $blueColor;
}

.aui .volvo-trucks #navigation .navbar-inner a.taglib-language-list-text {
	color: $blueColor;
}

.volvo-trucks .cart-portlet .icon-shopping-cart {
	color: $blueColor;
	margin-right: 5px;
}

.aui .volvo-trucks .single-product .price {
	background: $blueColor;
}

.aui .volvo-trucks #navigation .navbar-inner .taglib-language-list-text {
	color: #000;
}

.aui .volvo-trucks .navbar .navbar-inner {
	background: $grayBlue;
}

.aui .volvo-trucks .thumbnail {
	background: #fafafa;
}

.volvo-trucks .user-bar {
	background: $grayBlue;
}