/**
 * SEAT styling
 */
/*$greenColor: $greenColor;*/
$greenColor: #4ba82e;
 
@font-face {
	font-family: 'Skoda Pro';
	src: url(../SkodaPro-Regular.ttf);
}

@font-face {
	font-family: 'Skoda Pro';
	font-weight: bold;
	src: url(../SkodaPro-Bold.ttf);
}

.aui body.skoda {
	font-family: "Skoda Pro", sans-serif;
}
 
.aui .skoda a, .aui .skoda a:hover {
	color: $greenColor;
}

.aui .skoda .btn {
	background: $greenColor;
	color: #fff;
	text-transform: none;
	border-radius: 0;
}

.aui .skoda .btn.btn-chevron:after {
	font-size: 6px;
	margin: 0;
	margin-left: 10px;
	color: #fff;
	opacity: 0.7;
	content: '\f054';
	font-family: 'fontawesome-alloy';
	text-decoration: inherit;
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
}

.aui .skoda .btn:hover, .aui .btn:focus {
	background: #439429;
	color: #fff;
}

.aui .skoda input[type="text"], .aui .skoda textarea {
	background: #E8E8E8;
	border-radius: 2px;
	border: 0;
}

.aui .skoda input[type="text"]:disabled, .aui .skoda select:disabled {
	background: #fafafa;
	color: #aaa;
	border: 0;
}

.aui .skoda .input-append input[type="text"] {
	padding: 4px 6px;
}
 
.skoda header {
	background: #fff;
}

.aui .skoda #navigation .navbar-inner .nav .logo {
	line-height: 60px;
	height: 60px;
}

.aui .skoda #navigation .navbar-inner .nav .logo img {
	height: 60%;
}

/*.aui #navigation .navbar-inner .brand {
	line-height: 60px;
	margin-right: 20px;
	padding: 0;
}

.aui #navigation .navbar-inner .brand img {
	height: 57px;
}*/

.aui .skoda #navigation .navbar-inner li {
	margin-right: 5px;
}

.aui .skoda #navigation .navbar-inner li > a {
	color: #333;
}

.aui .skoda #navigation .navbar-inner li > a > span {
	font-size: 12px;
}

.aui .skoda #navigation .nav li.active > a,
.aui .skoda #navigation .nav li.open > a {
	color: $greenColor;	
}

.aui .skoda .navbar .nav > .active > a,
.aui .skoda .navbar .nav > .active > a:hover,
.aui .skoda .navbar .nav > .active > a:focus {
	color: $greenColor;
}

.aui .skoda .navbar .nav > li > a:focus,
.aui .skoda .navbar .nav > li > a:hover {
	color: $greenColor;
}

.aui .skoda #navigation .dropdown-menu li > a,
.aui .skoda #navigation .dropdown-menu li.active > a,
.aui .skoda #navigation .dropdown-menu li.open > a {
	color: #fff;
}

.aui .skoda #navigation .navbar-search .search-wrapper .input-append {
	border: 0;
	border-radius: 2px;
	overflow: hidden;
}

.aui .skoda #navigation .navbar-search .search-wrapper .btn {
	color: $greenColor;
	background: #E8E8E8;
}

.aui .skoda #navigation .navbar-search .search-wrapper input {
	color: #999;
	background: #E8E8E8;
	padding: 4px 6px;
}

.aui .skoda #navigation .navbar-search input::-webkit-input-placeholder,
.aui .skoda #navigation .navbar-search input:-moz-input-placeholder,
.aui .skoda #navigation .navbar-search input::-moz-input-placeholder,
.aui .skoda #navigation .navbar-search input:-ms-input-placeholder {
	color: #ccc;
}


.aui .skoda .navbar .nav > .active > a,
.aui .skoda .navbar .nav > .active > a:hover,
.aui .skoda .navbar .nav > .active > a:focus,
.aui .skoda .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .skoda .navbar .nav li.dropdown.active > .dropdown-toggle,
.aui .skoda .navbar .nav li.dropdown.open.active > .dropdown-toggle,
.aui .skoda .navbar .nav > li > a:focus, .aui .navbar .nav > li > a:hover,
.aui .skoda .navbar .nav > li.open > a, .aui .navbar .nav li.dropdown.open > .dropdown-toggle,
.aui .skoda .navbar .nav li.dropdown.active > .dropdown-toggle {
	color: $greenColor;
}

.aui .skoda .dropdown-menu > li > a:hover,
.aui .skoda .dropdown-menu > li > a:focus,
.aui .skoda .dropdown-submenu:hover > a,
.aui .skoda .dropdown-submenu:focus > a {
	background-color: $greenColor;
}

.aui .skoda #navigation .navbar-inner a.taglib-language-list-text {
	color: $greenColor;
}

.skoda .cart-portlet .icon-shopping-cart {
	color: $greenColor;
	margin-right: 5px;
}

.aui .skoda .single-product .price {
	background: $greenColor;
}

.aui .skoda #navigation .navbar-inner .taglib-language-list-text {
	color: #000;
}

/**
 * Skoda login page
 */
#embedded-welcome-portlet {
	background-size: cover;
	background-position: center center;
}
 
.skoda-login-wrapper {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	padding: 120px 10px;
}

.skoda-login-wrapper .logo {
	margin-bottom: 20px;
}

.aui .skoda-login-wrapper h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 2em;
}

.aui .skoda-login-wrapper p {
	font-size: 1.3em;
	line-height: 1.5em;
}

.skoda-login-wrapper .sign-in-form {
	text-align: left;
	max-width: 200px;
	margin: 0 auto;
	margin-top: 50px;
}

.skoda-login-wrapper .navigation {
	display: none;
}

.aui .skoda-login-wrapper .sign-in-form .control-group {
	margin-bottom: 10px;
}

.aui .skoda-login-wrapper .sign-in-form label {
	display: none;
}

.aui .skoda-login-wrapper .sign-in-form input[type=text], .aui .skoda-login-wrapper .sign-in-form input[type=password] {
	display: block;
	width: 100%;
	border: 0;
	box-sizing: border-box;
	padding: 10px;
	height: 35px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 0;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.aui .skoda-login-wrapper .sign-in-form .btn {
	display: block;
    width: 100%;
    height: 35px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    background: rgba(0,0,0,0.5);
    border: 2px solid #fff;
}

.aui .skoda-login-wrapper .sign-in-form .btn:hover {
	background: rgba(0,0,0,0.6);
}

.skoda-login-wrapper .subtitle {
	max-width: 200px;
	margin: 0 auto;
}

.skoda-login-wrapper .subtitle a {
	color: #fff;
	text-decoration: underline;
	margin-top: 20px;
}