<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#dockbar()

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">
		<div class="user-bar">
			#if ($theme.isImpersonated())
				<b class="alert-icon icon-warning-sign"></b>
			#end
							
			

			<div class="span3 user-full-name">
				<img class="user-avatar-image" src="$user.getPortraitURL($themeDisplay)" >
				$user.getFullName() 
				<a class="" href="/c/portal/logout" title="Sign Out"> <i class="icon-off"></i> <span class="nav-item-label"> Sign Out </span> </a>
			</div>
			<div class="span4">
				#set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))	
				#set ($searchPortletId = "customerportalsearch_WAR_sejeevescustomerportalportletscommonportlet")
				$theme.runtime($searchPortletId, '', $velocityPortletPreferences.toString())
				#set ($VOID = $velocityPortletPreferences.reset())
			</div>
			<div class="span5 cart-portlet">
				#set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))
				#set ($instanceId = 'aaaaaaaaaaaa')
				#set ($myPortletId = "customerportalcart_WAR_sejeevescustomerportalcartportlet_INSTANCE_${instanceId}")
				$theme.runtime($myPortletId, '', $velocityPortletPreferences.toString())
				#set ($VOID = $velocityPortletPreferences.reset())			
			</div>
		</div>
		<nav id="breadcrumbs">#breadcrumbs()</nav>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		<p class="powered-by">
			#language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>